@import '~bootstrap/scss/bootstrap';

.btn {
  align-content: stretch;
  border: solid black;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  padding: 10px;
  padding-left: 10px;
  // opacity: 50%;
  width: 200px;
}

body {
  background-image: url('public/images/background.jpg');
  background-size: cover;
  color: black;
}

section {
  display: flex;
  padding: 7px;

}

.search-bar {
  border: solid black;
  display: block;
  align-content: center;
}
form {
  // border: solid black;
  display: block;
}

.listing {
  color: white;
  padding: 10px;
}

.create {

}
