@import '~bootstrap/scss/bootstrap';


body {
  background-image: url('public/images/background.jpg');
  background-size: cover;
  color: white;
}

form {
  border: solid black;
  display: block;
}

.create,
.edit,
.firstView2,
.secondView,
.signedIn {
  display: none;
}

// #sign-up,
// #sign-in,
// #change-password,
// #log-out,
// #nav2,
// #edit-form {
//   display: none;
// }
