@import '~bootstrap/scss/bootstrap';


body {
  background-image: url('public/images/background.jpg');
  background-size: cover;
  color: white;
}

form {
  border: solid black;
  display: block;
}

.firstView2, .create, .edit {
  display: none;
}

.secondView
  #sign-up,
  #sign-in,
  #change-password,
  #log-out,
  #showCreate,
  #listing-button {
  display: none;
}
